/* html {
  --Neutral900: hsl(243, 96%, 9%);
  --Neutral800: hsl(243, 27%, 20%);
  --Neutral700: hsl(243, 23%, 24%);
  --Neutral600: hsl(243, 23%, 30%);
  --Neutral300: hsl(240, 6%, 70%);
  --Neutral200: hsl(250, 6%, 84%);
  --Neutral0: hsl(0, 0%, 100%);
  --orange500: hsl(28, 100%, 520%);
  --blue500: hsl(28, 100%, 52%);
  --blue700: hsl(233, 67%, 56%);
  --blue700: hsl(248, 70%, 36%);
  --primary-font: "DM Sans";
  --secondry-font: "Bricolage Grotesque";
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: var(--Neutral900);
  font-family: var(--primary-font);
  height: 100vh;
  position: relative;
  width: 100vw;
}

h1 {
  font-size: 1.8rem;
}


#search_btn:hover {
  cursor: pointer;
  background-color: var(--blue700);
}




#icon-dropdown:hover {
  cursor: pointer;
  background-color: var(--Neutral600);
}

#day:hover {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--Neutral700);
}

#search_btn:focus, #icon-dropdown:focus, #day:focus {
  border: 1px solid var(--Neutral0);
}



* {
  outline: 1px solid red !important;
} */