@media (max-width: 650px) {
  body {
    height: 300vh;
    max-height: 1500px;
  }
  header {
    width: 90%;
  }
  #main-content {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }
  #search-container {
    flex-direction: column;
    width: 100%;
    gap: 0.3rem;
  }

  #search-container-search-btn {
    width: 96%;
    height: 50%;
  }

  #search_btn {
    width: 96%;
    font-size: 1rem;
    height: 50%;
  }

  .wether_info {
    height: 75%;
    row-gap: 5%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .wether_info__hourly {
    grid-column: 1/2;
    grid-row: 3/4;
    /* height: 350px; */
    min-height: 33%;
  }

  .wether_info__current {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .wether_info_current_poster_city {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 50%;
    gap: 20%;
    flex-direction: column;
    background-position: left;
    background-size: cover;
  }

  .wether_info_current_detail {
    margin-top: 2%;
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    row-gap: 5%;
    column-gap: 10%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .wether_info_current_detail > * {
    flex-wrap: wrap;
    width: 100%;
  }

  .wether_info_current_detail > *:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .wether_info_current_detail > *:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .wether_info_current_detail > *:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .wether_info_current_detail > *:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .wether_info__daily_forecast {
    flex-wrap: wrap;
    gap: 3%;
  }
  .wether_info__daily_forecast_day {
    width: 31.3%;
    height: 34%;
  }

  /* #search-bar{} */
}
